* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aquamarine;
    text-rendering: optimizeSpeed;
    font-size: 80%;
    padding: 0;

    line-height: 1.5;

    margin: 0;
}

.heading {
    font-size: 1.5rem;
}

header {
    background-color: #9fc7e7;

    text-align: center;
    padding: ;
}

.container {
    width: 95%;
    /*max-width: 1100px; */
    margin: 0 auto;
}

.game-area {
    display: flex;
}









footer {
    background-color: slategrey;
    height: auto;
    color: white;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}